body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
   height: 100vh;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.container{
    background-color: white;
   
   
    width: 800px;
    height: 500px;
   
}

.content{
    padding: 50px;
}

.answer{
    margin-bottom: 20px;
    font-size: 24px;
}

.result{
    align-items: center;
    justify-content: center;
    display: none;
    text-align: center;
}